.carousel-item {
  max-width: 250px;  /* maximum width */
  max-height: 250px;  /* maximum height */
}

.carousel-item img {
  width: 100%;   /* this will make your images responsive to the container size */
  object-fit: cover;  /* this will prevent distortion */
}

.carousel-control-next {
  right: 71%; /* Adjust this percentage to move the button around */
}

.carousel-control-next-icon {
  transform: translateX(-50%); /* Negatively moves the button to the left but keeps the clickable area on the right */
}

body {
  background-color: #333333;
}

.header {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 10px;
}

/* styles.css */
@keyframes myAnimation {
  0% {
      /* Define the starting state of your animation */
  }
  100% {
      /* Define the ending state of your animation */
  }
}

.my-svg-element {
  animation-name: myAnimation;
  animation-duration: 5s; /* Adjust the duration as needed */
  animation-iteration-count: infinite;
}